<!-- <router-outlet></router-outlet> -->
<!-- <app-layout> -->
<mat-toolbar class="example-toolbar">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<h1 class="example-app-name">Rivertech Casino</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav>
		<mat-nav-list>
			<a mat-list-item [routerLink]="'/'"> Home </a>
			<a mat-list-item [routerLink]="'/games'"> Games </a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div style="height: 88vh">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
<!-- </app-layout> -->
