<div class="options">
	<mat-form-field class="search-bar">
		<mat-label>Search</mat-label>
		<input
			type="search"
			matInput
			placeholder="Search"
			[formControl]="searchField"
		/>
	</mat-form-field>
	<mat-form-field *ngIf="providers$ | async as providers$" class="provder-ddl">
		<mat-label>Provider</mat-label>
		<mat-select>
			<mat-option *ngFor="let provider of providers$" [value]="provider">
				{{ provider }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<section class="results">
	<game-container
		*ngFor="let result of results | async"
		[game]="result"
	></game-container>
</section>
